html, body, .container, .row {
    height: 100%;
    /* 0 -> aucune marge en haut en en bas ; auto à droite et à gauche -> permet de centrer en partagent l'espace */
    margin: 0 auto;
    /*padding à gauche et à droite*/
    padding: 0 10px ;
}

.formcontainer {
    background: #f0f0f0;
    padding: 15px;
}

.formcontainer form, .formcontainer fieldset{
    margin:0;
}

.secretcontainer {
    background: #f0f0f0;
    padding: 15px;
}

#registerContainer, #mainContainer {
    display: none;
}

/* HEADER */
#header
{
    height: 50px;
}

/* pour le div du header*/
#header div 
{
    text-align: right;
}


/* FOOTER */
#footer
{
    height: 100px;
    /*voir en permanence en bas à droite*/
    position: fixed;
    bottom : 0px; /*coller en bas*/
}

/* pour le div du footer*/
#footer  div
{
    text-align: left;
}
